@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
 }

 .row::after {
  content: "";
  clear: both;
  display: table;
}

img#Foto{
  background-image: -moz-element(left);
  height: 200px;
  float: left;
  margin-top: 30px;
  margin-left: 110px;
  }


button{
  height: 75px;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  background-color: rgb(37, 202, 243);
  border-color: rgb(12, 0, 0);
  border-style: solid;
  border-width: 4px;
  border-radius: 200px;
  width: 420px;
  cursor: pointer;

}

body{
  background-image: url(fondo2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 1360px 3750px;
}


p#Titulo{
  font-size: 30px;
  text-align: center;
  font-weight: bold; 
  text-decoration: underline;

}

p#Titulo2{
  font-size: 25px;
  text-align: center;
   
}

p#Contenido{
  font-size: 25px;
  text-align: center;     
}

h1#Nombre{
  font-size: 100px;  
  text-align: center; 
  padding-bottom: 5px; 
  color: #000000;

}


h2{
  font-size: 55px;
  text-align: center;
  margin-top: 70px;
  color: blue;
  }

h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #000000;
}

p{
  font-size: 14px; 
  text-align: center;
  color: #0e0e0e; 
}


.linea {
  border-top: 3px solid black;
  height: 5px;
  max-width: 1400px;
  padding: 0;
  margin: 5px auto 0 auto;
}

p#Contacto{
  font-size: 35px;
  text-align: center;
  font-weight: bold;

}

#whatsapp {
  position: fixed;
  bottom: 20px;
  right:20px;
}

circle {
  fill: #25d366;
}
path {
  fill: #fff;
}

.Indice{
 position: fixed;
 background: #53caee repeat scroll 0 0;
 display: table;
 border-radius: 20px;
 font-size: 25;
 bottom: 20px;
 left:20px;
 text-align: center;
 font-weight: bold;
 border-bottom-style: groove;
 background-color: rgb(37, 202, 243);
 border-color: rgb(12, 0, 0);
 border-style: solid;
 border-width: 4px;
}

  
